<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="#video of videos"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
    <div class="module hero">
      <h4>{{video.name}}</h4>
    </div>
  </a>
</div>