<table class="table table-hover">
	<thead>
		<tr>
			<td> ID
			</td>
			<td> Title
			</td>
			
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#v of videosa" (click) = "onSelect(v)" [class.clicked] = "v === selectedVideo">
			<td> {{v.id}}</td>
			<td>{{v.title}}</td>
		
			
		</tr>
	</tbody>

</table>
	<playlist-detail [video] = "selectedVideo"></playlist-detail>
<div>

</div>